{% extends "layout.html" %}
{% block body %}




  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{params['about_heading']}}</h1>
            <span class="subheading">{{params['about_tagline']}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>We uploads posts daily to keep you updated.</h1>

        <p>We uploads blog posts, articles and news.</p>
        <p>We are all very different. We were born in different cities, at different times, we love different music, food, movies. But we have something that unites us all. It's this app. We are its heart. We are not just a team, we are a family.</p>
        <img src="{{url_for('static', filename='img/20200628_132944_0000.png')}}" width="500" height="300">
        <p>If you have any articles, posts or anything that you think this should be reach to the people; then you can contact us by filling details in contact page or you can also contact us by social media platforms.</p>

      </div>
    </div>
  </div>



{% endblock %}
