{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171499283-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171499283-1');
</script>


  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/home-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            <span class="subheading">Manage your posts and change them</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Basic Actions</h1>

         <a href="/dshboard"> <button class="btn btn-primary"> Dashboard Home</button></a>
        <a href="/logout"> <button class="btn btn-primary"> Logout</button></a>
        <hr>

<h1>Add/Edit Posts</h1>

   <form name="sentMessage" id="contactForm" action="/edit/{{sno}}" method="post" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" id="title" name='title' required data-validation-required-message="Please enter your name." value="{{post.title}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Tagline</label>
              <input type="text" class="form-control" placeholder="Tagline" id="tline" name="tline" required data-validation-required-message="Please enter your email address." value="{{post.tagline}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Slug</label>
              <input type="text" class="form-control" placeholder="Slug" id="slug" name="slug" required data-validation-required-message="Please enter your phone number." value="{{post.slug}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea rows="5" class="form-control" placeholder="Content" id="content" name="content" required data-validation-required-message="Please enter a message.">{{post.content}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>para</label>
              <textarea rows="5" class="form-control" placeholder="para" id="para" name="para" required data-validation-required-message="Please enter a message.">{{post.para}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content 1</label>
              <textarea rows="5" class="form-control" placeholder="cont_one" id="cont_one" name="cont_one" required data-validation-required-message="Please enter a message.">{{post.cont_one}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Para 1</label>
              <textarea rows="5" class="form-control" placeholder="para_one" id="para_one" name="para_one" required data-validation-required-message="Please enter a message.">{{post.para_one}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content 2</label>
              <textarea rows="5" class="form-control" placeholder="cont_two" id="cont_two" name="cont_two" required data-validation-required-message="Please enter a message.">{{post.cont_two}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Para 2</label>
              <textarea rows="5" class="form-control" placeholder="para_two" id="para_two" name="para_two" required data-validation-required-message="Please enter a message.">{{post.para_two}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content 3</label>
              <textarea rows="5" class="form-control" placeholder="cont_three" id="cont_three" name="cont_three" required data-validation-required-message="Please enter a message.">{{post.cont_three}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Para 3</label>
              <textarea rows="5" class="form-control" placeholder="para_three" id="para_three" name="para_three" required data-validation-required-message="Please enter a message.">{{post.para_three}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Conclusion</label>
              <textarea rows="5" class="form-control" placeholder="Conclusion" id="conclusion" name="conclusion" required data-validation-required-message="Please enter a message.">{{post.conclusion}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Image File</label>
              <input class="form-control" placeholder="Image Filename" id="img_file" name="img_file" value="{{post.img_file}}" >
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Credit</label>
              <input type="text" class="form-control" placeholder="Credit" id="credit" name="credit" required data-validation-required-message="Please enter uploader's name." value="{{post.credit}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Post Link</label>
              <input type="text" class="form-control" placeholder="Post Link" id="post_link" name="post_link" required data-validation-required-message="Please enter a post image file name." value="{{post.post_link}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Post Image</label>
              <input type="text" class="form-control" placeholder="Post Image" id="post_img" name="post_img" required data-validation-required-message="Please enter a post image file name." value="{{post.post_img}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Href Link</label>
              <input type="text" class="form-control" placeholder="Href Link" id="href_link" name="href_link" required data-validation-required-message="Please enter a post image file name." value="{{post.href_link}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>          

          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
          </div>
        </form>

        <!-- Pager -->
       

      </div>
    </div>
  </div>

{% endblock %}

 