{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171499283-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171499283-1');
</script>


  <header class="masthead mb-0" style="background-image: url({{ url_for('static', filename='img/20200703_201635_0000.png') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{params['home_heading']}}</h1>
            <span class="subheading">{{params['home_tagline']}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Message flashing starts here -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

  {% endfor %}
  {% endif %}
  {% endwith %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        

{% for post in posts %}
        <div class="post-preview">
          <a href="/post/{{post.slug}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.tagline}}
            </h3>
          </a>
          <p class="post-meta">A post by
            <a href="{{post.href_link}}" target="_blank" style="color:#000080;">{{post.credit}}</a>
            </p>
        </div>
        {{post.content[0:143]}}...
        <hr>
        </li></a>
        {% endfor %}

        


      
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{next}}">Next &rarr;</a>
        
          <a class="btn btn-primary float-left" href="{{prev}}"> &larr; Previous</a>
        </div>

      </div>
    </div>
  </div>

{% endblock %}

 