{% extends "layout.html" %}
{% block body %}




  <!-- Page Header -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171499283-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171499283-1');
</script>

  
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/20200703_204617_0000.png') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Terms and Conditions</h1>
            <span class="subheading">Welcome to Daily blogs-2020!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>These terms and conditions outline the rules and regulations for the use of Daily blogs-2020's Website, located at https://dailyblogs2020.herokuapp.com/.</h1>

        <P>By accessing this website we assume you accept these terms and conditions. Do not continue to use Daily blogs 2020 if you do not agree to take all of the terms and conditions stated on this page.</P>
        <P>he following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</P>
        


      </div>
    </div>
  </div>



{% endblock %}
