{% extends "layout.html" %}
{% block body %}




  <!-- Page Header -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171499283-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171499283-1');
</script>

  
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Terms and conditions</h1>
            <span class="subheading">Tagline for terms and conditions</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Content of Terms and conditions.</h1>

      </div>
    </div>
  </div>



{% endblock %}
